span#linkclump-box {
	margin: 0px auto;
	border: 2px dotted orange;
	position: absolute;
	overflow: hidden;
	padding: 0;
	float: none;
}

span#linkclump-link {
	margin: 0px auto;
	border: 1px solid red;
	position: absolute;
}
